@font-face { 
    font-family: Gilroy-Bold; 
    src: url('../font/Gilroy-Bold.ttf'); 
}

@font-face { 
    font-family: Gilroy-ExtraBold; 
    src: url('../font/Gilroy-ExtraBold.ttf'); 
}

@font-face { 
    font-family: Gilroy-Light; 
    src: url('../font/Gilroy-Light.ttf'); 
}

@font-face { 
    font-family: Gilroy-Medium; 
    src: url('../font/Gilroy-Medium.ttf'); 
}

@font-face { 
    font-family: Gilroy-Regular; 
    src: url('../font/Gilroy-Regular.ttf'); 
}

@font-face { 
    font-family: Gothampro-Light; 
    src: url('../font/Gothampro-Light.ttf'); 
}

@font-face { 
    font-family: Journalsansserif-Bold; 
    src: url('../font/Journalsansserif-Bold.ttf'); 
}
